<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Buffet Ki-folia-kids | Home</title>
</head>
<body>
    <header>
        <div class="div-header">
            <a href="">
                <img id="logo" src="../img/kifolia-logo.png">
            </a>
            <div>
                <img id="menu-icon" src="/img/menu.png" alt="menu">
            </div>
            <div class="menu">
                <a href="/home">HOME</a>
                <a href="/gallery">GALERIA</a>
                <a href="/depositions">DEPOIMENTOS</a>
                <a href="/contact">CONTATO</a>
            </div>
        </div>
        
        <div class="line"></div>
        
    </header>
    <main>
        
        <div class="carousel">
            <img src="../img/promotion.png">
        </div>
        <div class="cards">
            <div class="card">
                <img src="/img/Screenshot_1.png" alt="festa1">
                <div class="text-card">
                    <h3>Festa de aniversário da princesa Lorenna!</h3>
                    <p>O tema escolhido foi Bailarina!! 
                        A festa foi cheia de muita animação, brincadeiras e um cardápio recheado de gostosuras!
                    </p>
                </div>
            </div>

            <div class="card card-invert">
                <img src="/img/toy-store.png" alt="festa1">
                <div class="text-card">
                    <h3>Festa de aniversário da princesa Lorenna!</h3>
                    <p>O tema escolhido foi Bailarina!! 
                        A festa foi cheia de muita animação, brincadeiras e um cardápio recheado de gostosuras!
                    </p>
                </div>
            </div>
            
        </div>
        <div class="promotion">
            <h1>Agende agora <br> sua visita 
                <a href="/contato">clicando aqui!</a>
            </h1>
            <img src="../img/sonic.png">
        </div>
    </main>
    <footer>
        <div class="info">
            <a href="">Galeria</a>
            <a href="">Decorações</a>
            <a href="">Fachada</a>
            <a href="">Recreação</a>
            <a href="">Espaço</a>
            <a href="">Depoimentos</a>
        </div>
        <div class="redes-sociais">
            <a href="">Instagram</a>
            <a href="">Facebook</a>
            <a href="">Twitter</a>
            <a href="">Youtube</a>
        </div>
        <div class="contato">
            <h4>Contato:</h4>
            <p>Aline ou Ricardo</p>
            <p>(11) 9 9999 - 9999</p>
            <p>kifolia@email.com</p>
        </div>
    </footer>


    <script src="/js/script.js"></script>
</body>
</html>